@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Caveat:wght@400..700&family=Fredoka:wdth,wght@116.6,300..700&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=M+PLUS+1+Code:wght@100..700&family=M+PLUS+Code+Latin:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 0 5000px rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.116);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
header .logo {
  width: 100px;
  height: 80px;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
header nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: 200;
  transition: all 0.3s ease;
}
header nav ul li a:hover {
  text-shadow: 0 0 5px #8c00ff;
}
header .darkbtn {
  background-color: transparent;
  border: none;
  color: black;
}
header .darkbtn:hover {
  text-shadow: 0 0 5px #8c00ff;
}

body.darkmode {
  background-color: rgb(36, 35, 35);
}
body.darkmode header a {
  color: #fff;
}
body.darkmode header button {
  color: #fff;
}
body.darkmode main {
  color: #fff;
}
body.darkmode main .container .row .text h1 {
  color: #fff;
}
body.darkmode main .container h1 {
  color: #fff;
}
body.darkmode main .container .cta-box {
  color: white;
}

main {
  height: 1000px;
}
main .row {
  margin-top: 150px;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .row .pic img {
  width: 400px;
  border-radius: 20px;
  animation: glow 3s infinite alternate-reverse;
}
@keyframes glow {
  0% {
    text-shadow: 0 0 5px rgb(255, 0, 255);
    filter: drop-shadow(0 0 100px rgb(255, 0, 255));
  }
  50% {
    text-shadow: 0 0 5px rgb(0, 255, 128);
    filter: drop-shadow(0 0 100px rgb(0, 255, 128));
  }
  100% {
    text-shadow: 0 0 5px rgb(0, 255, 208);
    filter: drop-shadow(0 0 100px rgb(0, 255, 208));
  }
}
main form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main form h3 {
  font-size: 30px;
  color: #8c00ff;
  font-weight: 200;
}
main form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #767676;
  font-family: "Fredoka";
  font-size: 18px;
}
main form input:focus {
  outline: none;
  border: none;
}
main form select {
  background-color: transparent;
  border: none;
  color: #767676;
  border-bottom: 1px solid #767676;
  font-family: "Fredoka";
  font-size: 18px;
}
main form select:focus {
  outline: none;
  border: none;
  font-size: 15px;
}
main form button {
  position: relative;
  background-color: #8c00ff;
  color: #fff;
  border: none;
  border-radius: 0 0 20px 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease;
}
main form button:hover {
  box-shadow: 0 0 5px #8c00ff;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2px 0;
  background-color: rgba(140, 0, 255, 0.8117647059);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: 0 -5px 50px #8c00ff;
}
footer .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .row p {
  text-align: center;
  color: #fff;
  font-weight: 200;
}

.ustoz header .pages {
  margin-left: 20px;
}
.ustoz header .pages a {
  color: #8c00ff;
  font-size: 10px;
}
.ustoz header h2 {
  font-size: 20px;
  color: #8c00ff;
  margin-left: 20px;
}
.ustoz main {
  margin: 100px 0;
}
.ustoz main .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
}
.ustoz main .cards .card-content {
  margin: 0 auto;
  padding: 15px 10px;
  border-radius: 20px 20px 30px 0;
  background: linear-gradient(180deg, transparent, transparent, #8c00ff);
}
.ustoz main .cards .card-content img {
  width: 250px;
  border-radius: 20px 20px 0 20px;
  transform: translateY(40px);
}
.ustoz main .cards .card-content h3 {
  color: #fff;
}
.ustoz main .cards .card-content p {
  color: #fff;
}
.ustoz main .cards .card-content:hover img {
  transform: translateY(-10px);
}
.ustoz main .details .row {
  padding: 0px 300px;
}
.ustoz main .details .row img {
  width: 300px;
}

@media (max-width: 767.98px) {
  main .pic {
    display: none;
  }
  .container {
    padding: 0 50px;
  }
  header nav {
    display: none;
  }
  header .darkbtn {
    display: none;
  }
  header .container .mobileMenu {
    display: block;
  }
}
.AloqaMenuBar {
  display: none;
  position: absolute;
  top: 100px;
  right: 20px;
  width: 450px;
  background: rgba(46, 44, 37, 0.8745098039);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.661);
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #8c00ff;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(100px);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 999;
  margin-left: -300px;
}
.AloqaMenuBar.active {
  display: block;
  opacity: 1;
  transform: translateY(-100px);
}
.AloqaMenuBar h3,
.AloqaMenuBar h4 {
  margin-bottom: 10px;
  color: #8c00ff;
  font-family: "Raleway";
}
.AloqaMenuBar p {
  color: #fff;
  font-weight: 100;
  font-family: "Krub";
}
.AloqaMenuBar p b {
  color: white;
  font-family: "Raleway";
}
.AloqaMenuBar a {
  display: block;
  margin-top: 5px;
  color: #ffffff;
  font-family: "Fredoka";
  font-weight: 100;
  text-decoration: none;
}
.AloqaMenuBar a:hover {
  text-decoration: underline;
}
.AloqaMenuBar form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.AloqaMenuBar form input,
.AloqaMenuBar form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.AloqaMenuBar form button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
}
.AloqaMenuBar form button:hover {
  background: #0056b3;
}

.AloqaMenuBar {
  display: none;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.3s ease-in-out;
}
.AloqaMenuBar.active {
  opacity: 1;
  margin-left: 100px;
  transform: translateY(0);
}

body header .mobileMenu {
  display: none;
  background-color: transparent;
  border: none;
}
body .mobileMenuBar {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -500px;
  width: 280px;
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(21, 20, 20, 0.557);
  border-left: 1px solid #8c00ff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
}
body .mobileMenuBar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(21, 20, 20, 0.557);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
body .mobileMenuBar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.heropage main {
  height: 100vh;
}
.heropage main .row {
  margin: 0px auto;
  display: flex;
  flex-wrap: nowrap;
}
.heropage main .row .text {
  margin-top: -100px;
  width: 450px;
}
.heropage main .row .text .types {
  display: flex;
  gap: 40px;
}
.heropage main .row .text h1 {
  font-size: 45px;
  font-weight: 100;
  color: black;
  text-shadow: 0 0 5px rgb(255, 0, 255);
  animation: glow 3s infinite alternate;
}
.heropage main .row .pic {
  margin-top: 90px;
}
.heropage main .row .pic img {
  width: 700px;
  filter: drop-shadow(0 0 50px rgb(0, 255, 208));
  animation: glow 3s infinite alternate-reverse;
}
@keyframes glow {
  0% {
    text-shadow: 0 0 5px rgb(255, 0, 255);
    filter: drop-shadow(0 0 100px rgb(255, 0, 255));
  }
  50% {
    text-shadow: 0 0 5px rgb(0, 255, 128);
    text-shadow: 0 0 5px #00bbff;
    filter: drop-shadow(0 0 100px #00ff80);
  }
  100% {
    text-shadow: 0 0 5px rgb(0, 255, 208);
    filter: drop-shadow(0 0 100px #00ffd0);
  }
}
.heropage main .reytingcard {
  margin-top: -200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.heropage main .reytingcard .card {
  width: 450px;
  padding: 15px 30px;
  border-radius: 20px;
  border: 1px solid transparent;
}
.heropage main .reytingcard .card:hover {
  border: 1px solid #8c00ff;
  box-shadow: 0 0 50px #8c00ff;
  transition: all 0.3s ease;
}
.heropage main .cta-box {
  background: linear-gradient(145deg, #8c00ff, transparent, transparent, #8c00ff);
  color: black;
  padding: 30px;
  border-radius: 30px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}
.heropage main .cta-box .cta-text p {
  margin: 5px 0;
  font-size: 1.2rem;
}
.heropage main .cta-box .cta-btn {
  background: #8c00ff;
  color: white;
  padding: 80px 20px;
  border-radius: 50px 0 50px 0;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
}
.heropage main .cta-box .cta-btn:hover {
  transform: translateX(5px);
}
.heropage main .cta-box:hover .cta-btn {
  transform: translateX(10px);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
  font-family: "poppins";
}

.container {
  max-width: 1200px;
  min-width: 350px;
  margin: 0 auto;
}

::-moz-selection {
  background-color: rgba(140, 0, 255, 0.831372549);
  color: #fff;
}

::selection {
  background-color: rgba(140, 0, 255, 0.831372549);
  color: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=main.css.map */