footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 2px 0;
    background-color: #8c00ffcf;
    backdrop-filter: blur(2px);
    box-shadow: 0 -5px 50px #8c00ff;
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            text-align: center;
            color: #fff;
            font-weight: 200;
        }
    }
}
