.heropage {
    main {
        height: 100vh;
        .row {
            margin: 0px auto;
            display: flex;
            flex-wrap: nowrap;
            .text {
                margin-top: -100px;
                width: 450px;
                .types {
                    display: flex;
                    gap: 40px;
                }
                h1 {
                    font-size: 45px;
                    font-weight: 100;
                    color: black;
                    text-shadow: 0 0 5px rgb(255, 0, 255);
                    animation: glow 3s infinite alternate;
                }
            }
            .pic {
                margin-top: 90px;
                img {
                    width: 700px;
                    filter: drop-shadow(0 0 50px rgb(0, 255, 208));
                    animation: glow 3s infinite alternate-reverse;
                    @keyframes glow {
                        0% {
                            text-shadow: 0 0 5px rgb(255, 0, 255);
                            filter: drop-shadow(0 0 100px rgb(255, 0, 255));
                        }
                        50% {
                            text-shadow: 0 0 5px rgb(0, 255, 128);
                            text-shadow: 0 0 5px #00bbff;
                            filter: drop-shadow(0 0 100px #00ff80);
                        }
                        100% {
                            text-shadow: 0 0 5px rgb(0, 255, 208);
                            filter: drop-shadow(0 0 100px #00ffd0);
                        }
                    }
                }
            }
        }
        .reytingcard {
            // position: absolute;
            margin-top: -200px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .card {
                width: 450px;
                padding: 15px 30px;
                border-radius: 20px;
                border: 1px solid transparent;
                &:hover {
                    border: 1px solid $primary-color;
                    box-shadow: 0 0 50px $primary-color;
                    transition: all 0.3s ease;
                }
            }
        }
        .cta-box {
            background: linear-gradient(
                145deg,
                $primary-color,
                transparent,
                transparent,
                $primary-color
            );
            color: black;
            padding: 30px;
            border-radius: 30px 0 30px 0;
            // box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 50px;

            .cta-text {
                p {
                    margin: 5px 0;
                    font-size: 1.2rem;
                }
            }

            .cta-btn {
                background: $primary-color;
                color: white;
                padding: 80px 20px;
                border-radius: 50px 0 50px 0;
                text-decoration: none;
                font-weight: bold;
                font-size: 1.1rem;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
                transition: 0.3s ease;

                &:hover {
                    transform: translateX(5px);
                }
            }
            &:hover {
                .cta-btn {
                    transform: translateX(10px);
                }
            }
        }
    }
}
