body {
    header {
        .mobileMenu {
            display: none;
            background-color: transparent;
            border: none;
        }
    }
    .mobileMenuBar {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: -500px;
        width: 280px;
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(21, 20, 20, 0.557);
        border-left: 1px solid $primary-color;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        z-index: 1000;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            background-color: rgba(21, 20, 20, 0.557);
            backdrop-filter: blur(10px);
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }
    .slidebar {
        // display: none;
        padding: 10px 20px;
        position: fixed;
        width: 200px;
        height: 100vh;
        left: -250px;
        top: 0;
        background-color: rgba(44, 41, 41, 0.839);
        backdrop-filter: blur(10px);
        button {
            background-color: transparent;
            border: none;
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            a {
                color: white;
                text-decoration: none;
                font-weight: 300;
                text-shadow: 0 0 5px $primary-color;
            }
        }
        .darkbtn {
            margin-top: 25px;
        }
    }
    .slidebar.active {
        // display: block;
        left: 0px;
    }
}
