// _responsive.scss

// Small devices (phones, less than 768px)
@media (max-width: 767.98px) {
    // Add your styles for small devices here
    main {
        .pic {
            display: none;
        }
    }
    .container {
        padding: 0 50px;
    }
    header {
        nav {
            display: none;
        }
        .darkbtn {
            display: none;
        }
        .container {
            .mobileMenu {
                display: block;
                .darkbtn {
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    // Add your styles for medium devices here
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    // Add your styles for large devices here
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    // Add your styles for extra large devices here
}
