// _responsive.scss

// Small devices (phones, less than 768px)
@media (max-width: 767.98px) {
    main {
        .pic {
            display: none;
        }
    }
    .container {
        padding: 0 50px;
    }
    header {
        nav {
            display: none;
        }
        .darkbtn {
            display: none;
        }
        .container {
            .mobileMenu {
                display: block;
            }
        }
    }
    .heropage {
        width: 500px;
        background: linear-gradient(90deg, transparent, transparent, red) main {
            margin-top: 200px;
            .reytingcard {
                margin-bottom: -1500px;
            }
            .hero {
                display: flex;
                flex-direction: column;
                align-items: center;
                .pic {
                    padding: 0;
                    display: block;
                    transform: scale(0.6);
                    img {
                        width: 100px;
                    }
                }
            }
            .row {
                .cta-box {
                    display: flex;
                    flex-direction: column;
                    margin-left: -400px;
                    p {
                        font-size: 12px;
                        font-weight: 100;
                    }
                    a {
                        padding: 80px 50px;
                        font-size: 15px;
                        font-weight: 200;
                    }
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 999.98px) {
    main {
        .pic {
            display: block;
            transform: scale(0.8);
        }
    }
    .container {
        padding: 0 80px;
    }
    header {
        nav {
            display: flex;
        }
        .darkbtn {
            display: block;
        }
        .container {
            .mobileMenu {
                display: none;
            }
        }
    }
    .heropage {
        main {
            margin-top: 120px;
            .reytingcard {
                margin-bottom: -800px;
            }
            .hero {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                .pic {
                    padding: 0 20px;
                    img {
                        width: 150px;
                    }
                }
            }
            .row {
                .cta-box {
                    display: flex;
                    flex-direction: row;
                    margin-left: -100px;
                    p {
                        font-size: 14px;
                        font-weight: 200;
                    }
                    a {
                        padding: 40px 30px;
                        font-size: 16px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}
