body.darkmode {
    background-color: rgb(36, 35, 35);
    header {
        a {
            color: #fff;
        }
        button {
            color: #fff;
        }
    }
    main {
        color: #fff;
    }
}
